body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#technologyForm {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

#projectIdeas {
  margin-top: 20px;
  text-align: center;
}

.clickable-idea {
  cursor: pointer;
  transition: background-color 0.1s;
}

.clickable-idea:hover {
  background-color: #dedede; /* Change to your desired hover background color */
}

.selected-idea {
  background-color: #cbcbcb; /* Change to your desired selected background color */
}